# Node modules
node_modules/

# Environment files (any folder)
.env
**/.env

# Logs
*.log

# Build folders
build/
dist/

# Docker & Kubernetes files (hidden)
Dockerfile
deployment.yaml
service.yaml
eks-prod.yaml

# IAM Policy file
iam_policy.json 

